@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";

/* TODO: Add custom properties for dark mode */
/* https://github.com/nativewind/nativewind/issues/1640 */

:root {
    --primary: rgb(76, 201, 240);
    --primary-foreground: rgb(255, 255, 255);
    --background: rgb(244, 244, 245);
    --foreground: rgb(0, 0, 0);
    --destructive: rgb(239, 68, 68);
    --card: rgb(255, 255, 255);
    --muted-foreground: rgb(161, 161, 170);

    /* Temporary */
    --primary-dark: rgb(72, 12, 168);
    --primary-foreground-dark: rgb(255, 255, 255);
    --background-dark: rgb(6, 1, 12);
    --foreground-dark: rgb(244, 244, 245);
    --destructive-dark: rgb(239, 68, 68);
    --card-dark: rgb(24, 24, 27);
} 

@theme {
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-destructive: var(--destructive);
    --color-card: var(--card);
    --color-muted-foreground: var(--muted-foreground);

    --color-primary-dark: var(--primary-dark);
    --color-primary-foreground-dark: var(--primary-foreground-dark);
    --color-background-dark: var(--background-dark);
    --color-foreground-dark: var(--foreground-dark);
    --color-destructive-dark: var(--destructive-dark);
    --color-card-dark: var(--card-dark);

    --font-manrope-regular: 'ManropeRegular';
    --font-manrope-bold: 'ManropeBold';
    --font-manrope-semibold: 'ManropeSemiBold';
    --font-manrope-medium: 'ManropeMedium';
}