@import 'tailwindcss';
@import 'uniwind';

@source '../../src/';

@theme {
  --font-manrope-regular: 'ManropeRegular';
  --font-manrope-bold: 'ManropeBold';
  --font-manrope-semibold: 'ManropeSemiBold';
  --font-manrope-medium: 'ManropeMedium';
}

@layer theme {
  :root {
    @variant light {
      --color-primary: rgb(76, 201, 240);
      --color-primary-foreground: rgb(255, 255, 255);
      --color-secondary: rgb(228, 231, 235);
      --color-secondary-foreground: rgb(24, 24, 27);
      --color-background: rgb(244, 244, 245);
      --color-foreground: rgb(0, 0, 0);
      --color-muted: rgb(161, 161, 170);
      --color-muted-foreground: rgb(161, 161, 170);
      --color-border: rgb(229, 231, 235);
      --color-destructive: rgb(239, 68, 68);
      --color-destructive-foreground: rgb(255, 255, 255);
      --color-card: rgb(255, 255, 255);
      --color-card-foreground: rgb(0, 0, 0);
      --color-accent: rgb(228, 231, 235);
      --color-accent-foreground: rgb(24, 24, 27);
      --color-popover: rgb(255, 255, 255);
      --color-popover-foreground: rgb(0, 0, 0);
      --color-ring: rgb(76, 201, 240);
    }

    @variant dark {
      --color-primary: rgb(72, 12, 168);
      --color-primary-foreground: rgb(255, 255, 255);
      --color-secondary: rgb(39, 39, 42);
      --color-secondary-foreground: rgb(244, 244, 245);
      --color-background: rgb(6, 1, 12);
      --color-foreground: rgb(244, 244, 245);
      --color-muted: rgb(63, 63, 70);
      --color-muted-foreground: rgb(161, 161, 170);
      --color-border: rgb(39, 39, 42);
      --color-destructive: rgb(239, 68, 68);
      --color-destructive-foreground: rgb(255, 255, 255);
      --color-card: rgb(24, 24, 27);
      --color-card-foreground: rgb(244, 244, 245);
      --color-accent: rgb(39, 39, 42);
      --color-accent-foreground: rgb(244, 244, 245);
      --color-popover: rgb(24, 24, 27);
      --color-popover-foreground: rgb(244, 244, 245);
      --color-ring: rgb(72, 12, 168);
    }
  }
}
